flows_YUXIDEV-JBANGUERA-4.local.json
[
    {
        "id": "6901c003.b48bb",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cb5f81f3.45184",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "9b6a32f2.cf9cc"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 120,
                "wires": [
                    {
                        "id": "9b6a32f2.cf9cc",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "611d95ce.0c660c",
        "type": "inject",
        "z": "6901c003.b48bb",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 90,
        "y": 60,
        "wires": [
            [
                "3615bd93.133522"
            ]
        ]
    },
    {
        "id": "3615bd93.133522",
        "type": "http request",
        "z": "6901c003.b48bb",
        "name": "Earthquake_info",
        "method": "GET",
        "ret": "obj",
        "url": "https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2014-01-01&endtime=2014-01-02",
        "tls": "",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "6131e10b.4e3ab"
            ]
        ]
    },
    {
        "id": "9b6a32f2.cf9cc",
        "type": "split",
        "z": "cb5f81f3.45184",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 250,
        "y": 120,
        "wires": [
            [
                "a8d7396f.22a2a8"
            ]
        ]
    },
    {
        "id": "379a8d8.b5e4772",
        "type": "debug",
        "z": "cb5f81f3.45184",
        "name": "switch1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.properties.mag",
        "x": 420,
        "y": 480,
        "wires": []
    },
    {
        "id": "a8d7396f.22a2a8",
        "type": "switch",
        "z": "cb5f81f3.45184",
        "name": "",
        "property": "payload.properties.mag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 440,
        "wires": [
            [
                "379a8d8.b5e4772"
            ]
        ]
    },
    {
        "id": "96d8a2b1.b31fd",
        "type": "debug",
        "z": "6901c003.b48bb",
        "name": "split1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "6131e10b.4e3ab",
        "type": "change",
        "z": "6901c003.b48bb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.features",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 260,
        "wires": [
            [
                "7faa3e20.31494"
            ]
        ]
    },
    {
        "id": "7faa3e20.31494",
        "type": "subflow:cb5f81f3.45184",
        "z": "6901c003.b48bb",
        "name": "",
        "x": 520,
        "y": 280,
        "wires": [
            [
                "96d8a2b1.b31fd"
            ]
        ]
    }
]